.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.lista-filme{
    margin: 15px;
}

.lista-filme article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filme strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filme img{
    width: 800px;
    max-height: 350px;
}

.lista-filme article a{
    text-decoration: none;
    color: #FFF;
    background-color: brown;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}